* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: #000;
  transition-duration: .3s;
}

/* Headings */

h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #00A7E0;
  margin: 5px 0 0 0;
}

h2 {
  font-weight: 600;
  font-style: italic;
  font-size: 120%;
  text-transform: lowercase;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 20px;
}

/* Navigation section */

.navigation-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  padding: 20px 70px 0 25px;
  border-bottom: 1px solid #bec2c5;
}

.navigation-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.nav-logo {
  float: left;
}

.nav-links {
  float: right;
}

.nav-links li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-links a:hover {
  color: #00A7E0;
}

/* Sidebar & Main section */

.flex-grid {
  display: flex;
  margin-top: 55px;
}

.sidebar {
  flex: 1;
}

.subnav-wrapper {
  margin-left: 25px;
}

.subnav-title {
  width: 290px;
  height: 50px;
  background: #e4e2e2;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 10px;
  position: relative;
  text-transform: uppercase;

}

.subnav-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 80%;
  border: 8px solid transparent;
  border-top-color: #e4e2e2;
  border-bottom: 0;
  margin-bottom: -5px;
}

.main-section {
  flex: 3;
  border: 1px solid #bec2c5;
  border-top: hidden;
  margin: 0 2% 0 3%;
  padding: 0 3em 2.5em 2.5em;
}



/* Image section styles */

#picture-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.container {
  width: 275px;
  height: 185px;
  position: relative;
  background-color: red;
  overflow: hidden;
  border: 2px solid pink;
}

.container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* object-position: center; */
  /* top: 50%; */
  /* transform: translateY(50%); */
}

.overlay {
  position: absolute;
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
  transition: .5s;
}
